md-sidenav-container {
  width: 100%;
  height: calc(100% - 64px);

  md-sidenav {
    min-width: 14vw;
  }
}

@media (max-width: 600px) {
  md-sidenav-container {
    height: calc(100% - 56px);
  }
}

#menu-button {
  margin-right: 10px;
}
