<md-sidenav-container>
  <md-sidenav #sidenav>
    <md-nav-list>
      <h3 md-subheader>Spring Cloud</h3>
    </md-nav-list>

    <md-nav-list *ngFor="let article of articleList" dense>
      <md-list-item (click)="onSelect(article); sidenav.toggle()" routerLinkActive="active">
        <md-icon color="accent" md-list-icon>note</md-icon>
        <a md-line >{{article}}</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button id="menu-button" md-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
    {{selectedArticle}}
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-container>
