<mat-toolbar color="primary">
  <button mat-button routerLink="/" routerLinkActive="active">
    <mat-icon color="accent">book</mat-icon>
    <span>{{title}}</span>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true">
      <mat-list><h3 mat-subheader>博文列表</h3></mat-list>

      <div *ngFor="let dir of dirs">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="dirIcon" mat-line color="accent">folder</mat-icon>
              {{dir.name | contentName:'dir'}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-yk-folder #files [dir]="dir.name" [url]="dir.url"></app-yk-folder>
        </mat-expansion-panel>
      </div>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
