<mat-toolbar color="primary">
  <button mat-button routerLink="/" routerLinkActive="active">
    <mat-icon color="accent">book</mat-icon>
    <span>{{title}}</span>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <h3 mat-subheader>列表</h3>
      <div *ngFor="let dir of dirs">
        <mat-list-item (click)="files.toggle()">
         <mat-icon mat-list-icon color="accent">folder</mat-icon>
         <a mat-line>{{dir.name | contentName:'dir'}}</a>
         <mat-icon *ngIf="!files.isShow" color="accent">keyboard_arrow_down</mat-icon>
         <mat-icon *ngIf="files.isShow" color="accent">keyboard_arrow_up</mat-icon>
        </mat-list-item>
        <app-yk-folder #files [dir]="dir.name" [url]="dir.url"></app-yk-folder>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
