mat-sidenav-container {
  top: 56px;
  height: calc(100vh - 64px);
}

mat-sidenav {
  min-width: 260px;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
}

mat-toolbar {
  position: fixed;
  min-height: 56px;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

mat-icon {
  margin-right: 1em;
}

