:host /deep/ img {
	max-width: 100%
}

.markdown-section {
	margin: 0 auto;
	max-width: 60vw;
	padding: 30px 15px 40px;
	position: relative;
}

.markdown-section>* {
	box-sizing: border-box;
	font-size: inherit
}

.markdown-section>:first-child {
	margin-top: 0!important
}

:host /deep/ hr {
	border: none;
	border-bottom: 1px solid #eee;
	margin: 2em 0
}

:host /deep/ table {
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
	margin-bottom: 16px;
	margin-bottom: 1rem;
	overflow: auto;
	width: 100%
}

:host /deep/ th {
	font-weight: 700
}

:host /deep/ td,:host /deep/ th {
	border: 1px solid #ddd;
	padding: 6px 13px
}

:host /deep/ tr {
	border-top: 1px solid #ccc
}

:host /deep/ p.tip,:host /deep/ tr:nth-child(2n) {
	background-color: #f8f8f8
}

:host /deep/ p.tip {
	border-bottom-right-radius: 2px;
	border-left: 4px solid #f66;
	border-top-right-radius: 2px;
	margin: 2em 0;
	padding: 12px 24px 12px 30px;
	position: relative
}

:host /deep/ p.tip code {
	background-color: #efefef
}

:host /deep/ p.tip em {
	color: #34495e
}

:host /deep/ p.tip:before {
	background-color: #f66;
	border-radius: 100%;
	color: #fff;
	content: "!";
	font-family: Dosis,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -12px;
	line-height: 20px;
	position: absolute;
	width: 20px;
	height: 20px;
	text-align: center;
	top: 14px
}

:host /deep/ p.warn {
	background: rgba(66,185,131,.1);
	border-radius: 2px;
	padding: 16px;
	padding: 1rem
}

:host /deep/ h1,:host /deep/ h2,:host /deep/ h3,:host /deep/ h4,:host /deep/ strong {
	color: #2c3e50;
	font-weight: 600
}

:host /deep/ a {
	color: #3f51b5;
	color: var(--theme-color,#3f51b5);
	font-weight: 600
}

:host /deep/ h1 {
	font-size: 32px;
	font-size: 2rem;
	margin: 0 0 16px;
	margin: 0 0 1rem
}

:host /deep/ h2 {
	font-size: 28px;
	font-size: 1.75rem;
	margin: 45px 0 12.8px;
	margin: 45px 0 .8rem
}

:host /deep/ h3 {
	font-size: 24px;
	font-size: 1.5rem;
	margin: 40px 0 9.6px;
	margin: 40px 0 .6rem
}

:host /deep/ h4 {
	font-size: 20px;
	font-size: 1.25rem
}

:host /deep/ h5,:host /deep/ h6 {
	font-size: 16px;
	font-size: 1rem
}

:host /deep/ h6 {
	color: #777
}

:host /deep/ figure,:host /deep/ ol,:host /deep/ p,:host /deep/ ul {
	margin: 1.2em 0
}

:host /deep/ ol,:host /deep/ p,:host /deep/ ul {
	line-height: 25.6px;
	line-height: 1.6rem;
	word-spacing: .8px;
	word-spacing: .05rem
}

:host /deep/ ol,:host /deep/ ul {
	padding-left: 24px;
	padding-left: 1.5rem
}

:host /deep/ blockquote {
	border-left: 4px solid #ff4081;
	border-left: 4px solid var(--theme-color,#ff4081);
	color: #858585;
	margin: 2em 0;
	padding-left: 20px
}

:host /deep/ blockquote p {
	font-weight: 600;
	margin-left: 0
}

:host /deep/ iframe {
	margin: 1em 0
}

:host /deep/ em {
	color: #7f8c8d
}

:host /deep/ code {
	border-radius: 2px;
	color: #ff4081;
	font-size: 12.8px;
	font-size: .8rem;
	margin: 0 2px;
	padding: 3px 5px;
	white-space: pre-wrap
}

:host /deep/ code,:host /deep/ pre {
	background-color: #f8f8f8;
	font-family: Roboto Mono,Monaco,courier,monospace
}

:host /deep/ pre {
	-moz-osx-font-smoothing: initial;
	-webkit-font-smoothing: initial;
	line-height: 24px;
	line-height: 1.5rem;
	margin: 1.2em 0;
	overflow: auto;
	padding: 0 22.4px;
	padding: 0 1.4rem;
	position: relative;
	word-wrap: normal
}

:host /deep/ pre>code {
	-moz-osx-font-smoothing: initial;
	-webkit-font-smoothing: initial;
	background-color: #f8f8f8;
	border-radius: 2px;
	color: #525252;
	display: block;
	font-family: Roboto Mono,Monaco,courier,monospace;
	font-size: 12.8px;
	font-size: .8rem;
	line-height: inherit;
	margin: 0 2px;
	max-width: inherit;
	overflow: inherit;
	padding: 2.2em 5px;
	white-space: inherit
}

:host /deep/ code:after,:host /deep/ code:before {
	letter-spacing: .8px;
	letter-spacing: .05rem
}
